nav {
  height: 100%;
}

a.navbar {
  text-decoration: none !important;
}

.side-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.side-nav-button:hover {
  background-color: rgba(255,255,255,0.2);
  border-radius: 30%;
}

#logo {
  width: 2rem;
  height: 2rem;
}
