<h1>Cadastrar Produto</h1>

<form [formGroup]="myForm" (ngSubmit)="submit()" >
  <div class="mb-3">
    <label for="inputName" class="form-label">Nome</label>
    <input formControlName="name" type="text" class="form-control" id="inputName" aria-describedby="emailHelp">
    <div id="NameHelp" class="form-text">Digite o nome do produto</div>
  </div>
  <div class="mb-3">
    <label for="inputPrice" class="form-label">Preço</label>
    <input formControlName="price" type="number" class="form-control" id="inputPrice">
    <div id="PriceHelp" class="form-text">Digite o preço do produto</div>
  </div>
  <div class="mb-3">
    <label for="inputType" class="form-label">Tipo</label>
    <select formControlName="type" class="form-select" name="type" id="inputType">
      <option>---Selecione o tipo de produto---</option>
      <option *ngFor="let productType of productTypes" [value]="productType['value']" >
          {{productType["name"]}}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <label for="textAreaDescription" class="form-label">Descrição</label>
    <textarea formControlName="description" class="form-control" id="textAreaDescription" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="inputQuantity" class="form-label">Quantidade</label>
    <input formControlName="quantity" type="number" class="form-control" id="inputQuantity">
    <div id="QuantityHelp" class="form-text">Digite a quantidade de produtos</div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
