
<div class="animate__animated animate__fadeInDown mt-5 py-5 col-lx-10 col-lg-10 col-md-10 col-sm-10 col-10 p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-start mb-4">Bem-vindo(a) ao Catálogo de Produtos.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-muted mb-4">
          Para acessar o catálogo ou cadastrar um novo produto ao catálogo,
          utilize o menu de navegação lateral à esquerda.
        </p>
      </div>
    </div>
  </div>
</div>
