:host{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
  padding: 3rem;
  min-width: 22.5rem !important;

}

:host > div:nth-child(1) {
  border-radius: 3rem !important;
  background-color: var(--secondary-background, #f5f5f5 ) !important;
}
