/* styles applied directly to the app-register-product element/component only */
:host {
  display: flex;
  overflow-y: scroll;
  height: calc(100vh - 6rem);
  justify-content: center;
}

.hint-font-size{
  font-size: var(--hint-font-size, 12px);
}

.header {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.form-register{
  background-color: var(--secondary-background, #f5f5f5 ) !important;
  padding: 2rem !important;
  border-radius: 25px;
  min-width: 22.625rem;
}



@media screen and (min-width: 400px) and (max-width: 500px) {
  .form-register {
    min-width: 12.938rem;
  }

  .header {
    height: 3rem;
  }

    .header > h3 {
      font-size: 1.25rem !important;
    }

}

@media screen and (min-width: 150px) and (max-width: 450px) {

  .form-register {
    min-width: 12.938rem;
  }

  .header {
    height: 4rem;
  }
    .header > h3 {
      font-size: 1.25rem !important;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }

}
