<h1 id="tableLabel">Products Catalog</h1>

<p *ngIf="!products?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products.length">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Quantidade</th>
      <th>Descrição</th>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.type }}</td>
    </tr>
  </tbody>
</table>
