.resize-margin-to-collapse {
  margin: 10px 10px 0 7px !important;
}

.display-only-inside-icon {
  width:45px !important
}

div.side-nav-content {
  color: white;
  width: 230px;
  margin: 10px 10px 0 10px;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

  ul.nav-list {
    list-style: none;
    height: 100%;
    padding: 0;
    margin-bottom: 0;
  }

    li.nav-list-item {
      display: flex;
      align-items: center;
      height: 50px;
    }

    li.nav-list-item:hover {
      background-color: rgba(255,255,255,0.3);
      border-radius: 10px;
    }

    .nav-list-open .nav-list-item:hover {
      background-color: rgba(255,255,255,0.3);
      border-radius: 10px;
    }

      li.nav-list-item i {
        font-size: 20px;
        height: 25px;
        width: 25px;
        margin: 0 15px 0 10px;
        text-align: center;
        line-height: 25px;
      }

      li.nav-list-item span {
        font-weight: 600;
        text-transform: capitalize;
        width: 170px;
      }

      a {
          text-decoration: none;
          color: white;
        }
