
<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2
    card mb-2 pt-2 " *ngFor="let product of products" >
      <img class="card-img-top" src="{{product.imageRef}}" alt="Card image cap">
      <div class="card-body row">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <div class="d-inline-flex col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pl-0">
          <div>Restantes: {{product.quantity}}</div>
        </div>
        <div class="d-inline-flex col-sm-12 col-md-12 col-lg-12 col-xl-12 pl-0">
          <div>Categoria: {{product.type ? 'Orgânico': 'Inorgânico'}}</div>
        </div>
      </div>
</div>
