:host{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem !important;
}

.card {
  min-width: 17.875rem;
  min-height: 22.5rem;
}
  .card-img-top {
    /*width: 17.875rem;*/
    min-height: 11.25rem;
    height: 11.25rem;
  }
  .card-body {
    /*width: 17.875rem;*/
    min-height: 11.25rem;
  }



@media screen and (min-width: 380px) and (max-width: 575px) {
  .card {
    max-width: 17.875rem;
    min-height: 22.5rem;
  }
}
