:host{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  min-width: 9.875rem !important;
  padding: 1rem;
}

.card {
  min-width: 17.875rem;
  max-width: 16.875rem;
  min-height: 22.5rem;
  margin-bottom: 1rem;
  max-height: 30rem;
}:hover:not(.card-img-top, .card-body,
  .card-title, .card-text, .card-price, .card-inStock,
  .card-category){
   transform: scale(1.05);
 }

  .card-img-top {
    min-height: 11.25rem;
    height: 11.25rem;
  }:hover{
     transform: scale(1);
   }

  .card-body {
    min-height: 11.25rem;
  }
    .card-price {
        font-weight: bolder;
        font-size: 1.125rem;
    }

@media screen and (min-width: 150px) and (max-width: 400px) {
  .card {
    max-width: 16.875rem;
    min-width: 9.875rem !important;
    min-height: 22.5rem;
    max-height: 30rem;
    font-size: .75rem;
  }
  h5.card-title {
    font-size: 1rem;
  }

}
